.photo-grid {
  margin: 0 auto 91px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: auto;
  gap: 16px;
  grid-auto-flow: row;
  grid-auto-rows: auto;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .photo-grid {
    margin: 0 48px 91px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    gap: 14px;
    margin: 0 24px 88px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
      margin: 0 16px 64px;
      gap: 12px;
    }
  }
