.places {
  max-width: 984px;
  margin: 0 auto 97px;
}

@media screen and (min-width: 1024px) and (max-width: 1070px) {
  .places {
    margin: 0 48px 95px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places {
    margin: 0 24px 90px;
  }
}

@media screen and (max-width:767px) {
  .places {
    margin: 0 0 64px;
  }
}
