.intro__list-item {
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 900; /*в макете написано 400, но элементы списка выглядят жирнее, чем текст параграфа и цыфр в конце каждого элемента*/
}
