.cover {
  background: url(../../images/__background.jpg) no-repeat;
  background-size: cover;
  max-width: 1184px;
  min-height: 740px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width:691px) {
  .cover {
    min-height: 480px;
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    min-height: 200px;
  }
}
