.lead__caption {
  font-size: 10px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #fff;
  margin: 4px 0 0;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin: 8px 24px 0;
  }
}
