.intro__title {
  color: #fff;
  margin: 0 0 40px;
  font-size: 54px;
  line-height: 1.1;
  font-weight: 900;
}

@media screen and (max-width:691px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
